<%= form_for(@artwork) do |f| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :artwork_longtitude %><br>
    <%= f.text_field :artwork_longtitude %>
  </div>
  <div class="field">
    <%= f.label :artwork_latitude %><br>
    <%= f.text_field :artwork_latitude %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
    <div class="field">
      <%= f.label :ibeaconuuid %><br>
      <%= f.text_field :ibeaconuuid %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
