
<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
  <!-- START_HIGHLIGHT -->
  <title>Ian Potter Museum of Art</title>
  <!-- END_HIGHLIGHT -->
  <%= stylesheet_link_tag    "application", media: "all" %><!-- <label id="code.slt"/> -->
  <%= javascript_include_tag "application" %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
<!-- START_HIGHLIGHT -->
<div id="banner">
  <%= @page_title || "Ian Potter Museum of Art" %><!-- <label id="code.depot.e.title"/> -->
</div>
<div id="columns">
  <div id="side">
    <ul>
      <li><a href="https://still-scrubland-2068.herokuapp.com/artworks">Home</a></li>
      <li><a href="https://still-scrubland-2068.herokuapp.com/artworks/new">Add Artwork</a></li>
      <!--<li><a href="http://0.0.0.0:3000/artowrks">News</a></li>-->
      <li><a href="https://still-scrubland-2068.herokuapp.com/comments">Comments</a></li>
    </ul>
  </div>
  <div id="main">
    <!-- END_HIGHLIGHT -->
    <%= yield %><!-- <label id="code.depot.e.include"/> -->
    <!-- START_HIGHLIGHT -->
  </div>
</div>
<!-- END_HIGHLIGHT -->
</body>
</html>
